@import "lib/common.less";
@import "lib/grid.less";
@import "lib/slider.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout start							  					*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content-info-holder{
	.grid{
		.col{
			figure{
				width: auto;
				height: 180px;
				background: @white;
				margin: 0;
				border: 20px solid @grey;
				border-bottom: none;
				box-sizing: border-box;
				img{
					width: auto;
					height: 100%;
					margin: 0 auto;
				}
			}
			h2{
				font-size: 1.125em;
				margin: 0;
				padding: 20px 20px 0;
			}
			.futures-list-holder{
				display: block;
				width: 100%;
				margin-bottom: 20px;
				overflow: hidden;
				li{
					display: block;
					p{
						line-height: 30px;
						padding: 0 20px;
					}
				}
			}
			.price-weight-holder{
				width: 100%;
				padding: 0 20px;
				box-sizing: border-box;
				overflow: hidden;
				span{
					display: block;
					width: 50%;
					line-height: 40px;
					float: left;
					&.price{
						text-align: right;
						color: @green;
						font-weight: 500;
					}
				}
			}	
			.btn-small{
				margin-bottom: 20px;
				a{
					text-transform: none;
				}
			}
		}
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout start							  					*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/