@import "lib/common.less";
@import "lib/common-private.less";
@import "lib/breadcrumbs.less";
@import "lib/pagination.less";
@import "lib/tables.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	stats start							 	  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content-info-holder{
	.outer.scrollable-holder{
		padding: 150px 0 60px;
		margin-top: -150px;
		.scrollable{
			padding: 0 20px;
		}
	}
	.action-panel-holder{
		&.top{
			height: 100px;
			.categories-panel-holder{ margin-top: 20px; }
		}
	}
	.table-holder{
		padding: 0;
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	stats end							 	  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/