@import "lib/common.less";
@import "lib/grid.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout start							  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content-info-holder{
	.grid{
		.col{
			h2, p{ text-align: center; }
		}
	}
	&.supplier-inside{
		figure{
			display: inline-block;
			width: 160px;
			height: auto;
			float: left;
			margin: 0 20px 0 0;
			overflow: hidden;
		}
	}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*	layout end								  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/